/*-----> HEADER <-----*/

#banner{
    text-align: center;
    position:fixed;
    width: 100%;
    background: -webkit-gradient(linear, right top, left bottom, from(rgb(26,140,63)),to(rgb(255,255,128)));
    -webkit-box-shadow: 0px 4px 4px 2px rgba(128,128,128,0.5);
    height: 90px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left:15px;
    z-index: 50;
    margin:0;
    top:0;
    left: 0;
    right: 0;
    transition: 0.5s;

}

header  h1{
    color: rgb(255,255,255);
    font: 40px/48px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0px 2px 2px rgb(128,128,128);
    white-space: nowrap;
    margin-top:5px;
    margin-bottom:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

header .col-sm-3{
    padding-top: 15px;
}

header img{
    margin-right:-150px;
    height: 65px;
    width: 65px;
}

#open{
    margin-top: 10px;
    position:fixed;
    font-size: 30px;
    cursor: pointer;
    transition:0.5s;
}

#open:hover{
    color: brown;
}

/*--------> Fine HEADER <--------*/

/*------> MAIN CONTENUTO PRINCIPALE <------*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main{
    /*CONTENUTO OTTIMIZZATO AL CENTRO*/
    max-width: 1120px; /* Default Width */
    margin: 0 auto;

    text-align: justify;
    transition: 0.5s;
    position: relative;
    top: 110px;
    overflow:hidden;
}
#main a:hover, .offcanvas a:focus{
    color: maroon;
    text-decoration: none;

}

.subsection{
    margin-right:20px;
    margin-left: 50px;
}



hr{
    size:3px;
    color: darkgreen;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}


        /*-----------FOOTER----------*/

footer{
    margin-left:50px;
}
footer p a{

}
footer p a:hover, .offcanvas a:focus{
    color:maroon;
    text-decoration: none;
}

        /*---------FINE FOOTER--------*/

/*------>FINE DEL MAIN CONTENUTO PRINCIPALE  <-------*/



/* --------> CSS PER SIDENAV <----------*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    left: 0;
    background: -webkit-gradient(linear,right top, left top, from(rgb(255,255,128)), to(rgb(26,140,63)));
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
    border-bottom: 10px;
    border-color: rgb(128,128,128);
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: maroon;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* On smaller screens, where height is less than 720px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 720px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #open{font-size: 18px;}

}



#github:hover, offcanvas #github:focus{
    color: maroon;

}



/*------> FINE CSS PER SIDENAV <---------*/
